body{
  background-image: url("../images/back_rouge_2.jpg");
  background-size: 80%;
  background-attachment: fixed;
  padding : 10%;
}
#div0{
  position: absolute;
  left : 38%;
  top :2%;
  width : auto;

}
#div3{
  width : auto;
  position: absolute;
  top : 35%;
  left : 12%;
}
#div3 img{
  display : block;
}
#div1{
  
  width : auto;
  position: absolute;
  left: 77%;
  top :35%;
  
}
#div1 img{
  display : block;
}
#div2{
  
  position: absolute;
  left : 38%;
  top : 80%;
  width : auto;

}

#divTapis{
  width : 30%;
  position: absolute;
  left : 35%;
  top : 32%;
}

#tableScore {
  position : absolute;
  left : 75%;
  top : 5%;
  border: 3px solid;
  table-layout: fixed;
  width: 200px;
  height : 50px;
  text-align : center;
  background-color : gray;
  
}

tr, td{
  border : black 2px solid;
  color : white;
}
#missaSpan {
  position : absolute;
  left : 82%;
  top : 21%;
  background-color: grey;
  color : white;
  
}

#rchemSpan {
  position : absolute;
  left : 76%;
  top : 21%;
  background-color: grey;
  color : white;
  
}
#rondaSpan0 {
  position : absolute;
  left : 76%;
  top : 23%;
  background-color: grey;
  color : white;
  
}
#rondaSpan1 {
  position : absolute;
  left : 76%;
  top : 25%;
  background-color: grey;
  color : white;
  
}
#rondaSpan2 {
  position : absolute;
  left : 76%;
  top : 27%;
  background-color: grey;
  color : white;
  
}
#rondaSpan3 {
  position : absolute;
  left : 76%;
  top : 29%;
  background-color: grey;
  color : white;
  
}

#tringlaSpan0 {
  position : absolute;
  left : 82%;
  top : 23%;
  background-color: grey;
  color : white;
  
}
#tringlaSpan1 {
  position : absolute;
  left : 82%;
  top : 25%;
  background-color: grey;
  color : white;
  
}
#tringlaSpan2 {
  position : absolute;
  left : 82%;
  top : 27%;
  background-color: grey;
  color : white;
  
}
#tringlaSpan3 {
  position : absolute;
  left : 82%;
  top : 29%;
  background-color: grey;
  color : white;
  
}



#tapisSpan {
  position : absolute;
  left :85%;
  top : 40%;
  background-color: grey;
  color : white;
  font-size: 60px;
  
}


#djeryaSpan {
  position : absolute;
  left : 5%;
  top : 1%;
  
  color :   white;
  font-weight: bold;
  font-size: 20px;
  font-family: 'Times New Roman', Times, serif;
  
}

#djeryaSpan :hover{
  color : black;

}


#divPaquet{
  position: absolute;
  left :2%;
  top : 5%;
  width: auto;

}

#imagePaquet1{
  position: absolute;
  left: 15%;
  top: 10%;
  
}
#imagePaquet2{
  position: absolute;
  left: 25%;
  top: 20%;
}
#imagePaquet3{
  position: absolute;
  left: 35%;
  top : 30%;
}

